* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  position: absolute;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(179, 176, 176);
  width: calc(100% - 40px);
  bottom: 0;
  left: 20px;
}

header .container div img {
  width: 90px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
}

nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul {
  display: flex;
}

nav ul li:last-child {
  color: white;
  position: relative;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: block;
}

header .link {
  transition-duration: 0.4s;
  padding: 40px 10px;
  font-size: 14px;
  position: relative;
  z-index: 3;
  border-bottom: 1px solid rgb(179, 176, 176);
}

header i {
  color: white;
  font-size: 20px;
}
nav ul li a:hover {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
header .container .icon {
  position: relative;
  padding-left: 20px;
}
header .container .icon::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  top: -5px;
  left: 10px;
  width: 1px;
  background-color: white;
}

.meneu {
  display: none;
}
.meneu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  background-color: rgb(0 0 0 / 52%);
  width: 100%;
  z-index: 3;
}
.meneu:hover + ul a {
  border: 0;
  padding: 20px 0;
}
@media (max-width: 650px) {
  nav ul {
    display: none;
  }
  .meneu {
    display: block;
    padding-right: 20px;
  }
  header .container {
    padding: 20px;
  }
}

.landing {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url(../image/wallhaven-qd5zjd.jpg);
  background-size: cover;
  position: relative;
  transition-duration: 1s;
}

.overlay {
  width: 100%;
  height: 100%;

  background-color: rgb(0 0 0 / 43%);
  position: absolute;
}
.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: #00c7fc59;
  display: flex;
  justify-content: flex-end;
}
.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: #00c7fc59;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 520px;
}
.text .content h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.text .content p {
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  line-height: 2;
}

.landing .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: white;
}

.fa-angle-left {
  left: 10px;
}
.fa-angle-right {
  right: 10px;
}

@media (max-width: 780px) {
  .landing .text {
    display: block;
    width: 100%;
  }
  .landing .content {
    max-width: 100%;
  }
  .landing .arrow {
    display: none;
  }
}

.landing .points {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  bottom: 30px;
  padding: 0;
}

.landing .points li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.landing .points .active {
  background-color: #19c9fa9c;
  border-color: transparent;
}

.heading,
.services {
  padding-top: 70px;
  padding-bottom: 70px;
}

.heading .container h2,
.services h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
}
.heading h2::before,
.services h2::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  bottom: -20px;
  background-color: black;
}

.heading h2::after,
.services h2::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  bottom: -27.5px;
  background-color: white;
  border-radius: 50%;
}

.heading .container p,
.services .container > p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  line-height: 2;
}

.services .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  align-items: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  .services .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.services .card {
  display: flex;
  gap: 40px;
}

.services .card i {
  font-size: 45px;
  color: #2c1117;
}

.services .card h3 {
  color: #00c5fc;
  padding-bottom: 30px;
  font-size: 20px;
}

.services .card p {
  line-height: 1.8;
  font-size: 17px;
  color: rgb(95, 95, 95);
}

@media (max-width: 690px) {
  .services .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services .content {
    gap: 50px;
  }
}
.design {
  background-color: #025369;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  background-image: url(../image/mustang_car_cover_13.jpg);
  background-size: cover;
}

.design .image {
  position: absolute;
  left: 200px;
  top: 140px;
  display: none;
}

.design .design-text {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 50px;
  transform: translateY(-50%);
  background-color: #0808087a;
  display: flex;
  justify-content: flex-start;
}

.design .design-text h2 {
  color: aliceblue;
  margin-bottom: 30px;
}
.design .design-text ul {
  color: white;
  padding: 10px;
}

.design .design-text ul li {
  margin-bottom: 30px;
}

.design .design-text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
@media (max-width: 750px) {
  .design .design-text {
    width: 100%;
  }
  .design .design-text .content {
    width: 100%;
  }
}

.portfolio .container {
  text-align: center;
}

.portfolio .container ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  padding: 0;
}

.portfolio .container ul li {
  padding: 10px;
  font-size: 19px;
}
.portfolio .container ul .activated {
  background-color: #444749;
  color: white;
}

.portfolio .container ul li:hover {
  background-color: #444749;
  color: white;
  cursor: pointer;
}
.portfolio .photos img {
  width: 100%; /* تاخد كل مساحة العمود */
  height: 100%; /* لو عايز كل صف يبقى نفس الطول */
  object-fit: cover; /* يخلي الصورة تملا المساحة من غير تمدد غريب */
}
.portfolio .photos {
  display: flex;
  row-gap: 3px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.portfolio .photos .box {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}
.portfolio .photos .box:hover img {
  transform: rotate(5deg) scale(1.1);
  transition: 0.3s ease;
}
.portfolio .photos .box:hover .left {
  transform: rotate(-5deg) scale(1.1);
  transition: 0.3s ease;
}

.portfolio .photos .caption {
  position: absolute;
  height: 40%;
  bottom: 0; /* مخفي تحت */
  left: 0;
  width: 100%;
  background: white;
  color: black;
  padding: 10px;
  z-index: 2;
  transition-duration: 1s;
  opacity: 0; /* مخفي */
  transform: translateY(100%); /* نازل لتحت */
  transition: transform 0.6s ease;
}
.portfolio .photos .box:hover .caption {
  opacity: 1;
  transform: translateY(0);
}

.portfolio .photos .box .caption h4 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0;
}

.portfolio .caption ul {
  margin: 0;
  padding: 0;
}
.portfolio .caption ul li {
  font-size: 12px;
  margin-bottom: 3px;
  color: rgb(133, 133, 133);
}
.portfolio .caption ul li::before {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 2px;
  content: "\2b";
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 700;
  margin-right: 5px;
  background-color: green;
  color: white;
  border-radius: 50%;
}
@media (max-width: 950px) {
  .portfolio .photos {
    flex-direction: column;
  }
}

.portfolio .more {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.portfolio .more button {
  padding: 15px 20px;
  background-color: #444749;
  border: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.hero {
  position: relative;
}

.hero video {
  width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3px);
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 50px;
  background-color: #00c7fc59;
  display: block;
}

.hero .text .content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.hero .text h2 {
  margin: 0;
  text-transform: uppercase;
}

.hero .text p {
  font-size: 18px;
  padding: 10px;
  text-transform: uppercase;
}

.btn-box {
  margin-top: 10px;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

.about {
  padding-bottom: 0;
}
.about .container {
  text-align: center;
  overflow: hidden;
}
.about .container p {
  width: 550px;
  margin: 0 auto 100px;
}

@media (max-width: 590px) {
  .about .container p {
    width: 100%;
  }
}

.about .container img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

.stats {
  background: linear-gradient(90deg, #004e92, #000428);
  padding: 100px 0px;
}

.stats .container {
  display: flex;

  text-align: center;
}

.stats .container div {
  flex-basis: 25%;
  background-color: #0808087a;
  padding: 50px;
}
.stats .container div i {
  font-size: 30px;
  margin-bottom: 20px;
  color: yellow;
}
.stats .container div h2 {
  font-size: xxx-large;
  color: white;
  margin-bottom: 20px;
}

.stats .container div p {
  color: white;
}
@media (max-width: 920px) {
  .stats .container {
    flex-wrap: wrap;
  }
  .stats .container div {
    flex-basis: 50%;
  }
}
@media (max-width: 580px) {
  .stats .container {
    flex-direction: column;
  }
}
